/* 
Layout Example Guide

margin-top:     0px;
margin-bottom:  0px;

padding-left:   0px;
padding-right:  0px;

border:         0px solid black;
border-radius:  50%;

text-align:     center;

font-size: 10px;

color:              #AD46DF;
background-color:   #1A2D45;


Colors
*/

/* CSS VARIABLES */
:root {
    /* HTML */
    --body-bg:      #1A1A1D;



    /* Navigation */
    --nav-bg:       #1A1A1D;
    --nav-border:   #000000;
    --nav-brand:    #00FF00;
    


    /* Sections */
    --intro-bg:     #1A1A1D;
    --intro-text:   #FFFFFF;

    --about-bg:     #1A1A1D;
    --about-text:   #FFFFFF;

    --contact-bg:   #1A1A1D;
    --contact-text: #FFFFFF;



    /* Skill Colors */
    --skill-color-html:         #DE4B25;
    --skill-color-css:          #254BDE;
    --skill-color-javascript:   #E0C22E;
    --skill-color-python:       #356C9C;
    --skill-color-csharp:       #652077;
    --skill-color-git:          #E94E32;
    --skill-color-sql:          #006FC0;



    /* Contact Colors */
    --contact-available-text:   #00FF00;

    /* Footer */
    --footer-bg:    #212529;
    --footer-text:  #FFFFFF;
}



/* ELEMENTS */
body {
    background-color: var(--body-bg);
}



/* NAVBAR */
nav {
    border-bottom: 1px solid var(--nav-border);
    
    background-color: var(--nav-bg);
}

.brand-title {
    font-size: 1.5rem;
}

.brand-subtitle {
    font-size: 0.8rem;

    color: var(--nav-brand);
}



/* INTRO Section*/
#intro-section {
    padding-top:    30px;
    padding-bottom: 30px;
    
    color:              var(--intro-text);
    background-color:   var(--intro-bg);
}

#intro-section i {
    margin-top:     30px;
    margin-bottom:  30px;
}

#intro-section a {
    margin-top:     80px;
}



/* ABOUT Section*/
.about {
    padding: 100px;

    color:              var(--about-text);
    background-color:   var(--about-bg);
}

.about-skills row {
    margin-bottom: 50px;
}

.skill {
    margin: 30px;
    margin-bottom: 70px;
}

.skill ul {
    list-style: none;
    padding: 0px;
}

.skill i {
    font-size: 30vh;
}

#skill-html h2, #skill-html i {
    color: var(--skill-color-html);
}

#skill-css h2, #skill-css i {
    color: var(--skill-color-css);
}

#skill-javascript h2, #skill-javascript i {
    color: var(--skill-color-javascript);
}

#skill-python h2, #skill-python i {
    color: var(--skill-color-python);
}

#skill-csharp h2, #skill-csharp i {
    color: var(--skill-color-csharp);
}

#skill-git h2, #skill-git i {
    color: var(--skill-color-git);
}

#skill-sql h2, #skill-sql i {
    color: var(--skill-color-sql);
}


/* CONTACT Section*/
.contact {
    padding: 50px;

    color:              var(--contact-text);
    background-color:   var(--contact-bg);
}

#contact-status-availability {
    margin-bottom: 100px;

    font-size: 2.5em;

    color: var(--contact-available-text);
}



/* FOOTER */
.footer {

    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    text-align: center;

    color:      var(--footer-text);
    background: var(--footer-bg);
}

.footer-contact ul {
    list-style-type: none;
}

.footer-contact ul li {
    margin-top:     10px;
    margin-right:   0px;
    margin-bottom:  10px;
    margin-left:    0px;
}

.foot-contact ul li a {
    text-decoration: none;
}

.footer-copyright {
    margin-top: 40px;

    text-align: center;
}