.intro {
    padding-top: 30px;
    padding-bottom: 30px;
    
    color:rgba(255, 255, 255, 0.822);
    background-color: #1A1A1D;
}

.intro .profile-icon {
    margin-bottom: 30px;
}

.intro a {
    margin-top: 80px;
}

.brand-title {
    font-size: 1.5rem;
}
.brand-subtitle {
    font-size: 0.8rem;
    color: gray;
}

.footer {
    margin-top: 20px;

    padding: 20px;

    color: white;
    background: #212529;

    text-align: center;
}
.footer-contact ul {

    list-style-type: none;
}

.footer-contact ul li {
    margin-top:     10px;
    margin-right:   0px;
    margin-bottom:  10px;
    margin-left:    0px;
}

.footer-copyright {
    text-align: center;
}